body {
    padding: 20px;
    max-width: 980px;
    margin: 0 auto;
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: brown;
}

.data {
    flex: 1 0 45%;
    width: 45%;
}

.data, .textarea{
    margin: 0 .5em 1em 0;
    padding: .5em 1em;
    border: 1px solid brown;
}

.textarea {
    flex: 1 0 90%;
    width: 90%;
}

button {
    background-color: brown;
    color: white;
    padding: 12px;
    border: 1px solid burlywood;
    border-radius: 4px;
}

button:hover {
    background-color: chocolate;
}